html{
    height: 100%;
 
}

*{
    margin: 0;
    box-sizing:content-box;
   
 
}
body{
    
    min-height: 100vh;
    
}


/* HEADER */
header{
    height: 100px;
    width: 100%;
    background-color:#BFBFBF;
}
.cabecalho{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    margin-left: 15px;
    display: flex;
    align-items: center;
}    
.logotipo__foto{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.menu__atalhos{
    gap: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu__atalhos__links{
   
    color: #0A6073;
    text-decoration: none;
    height: 25px;
    width:100px;
    text-align: center;
}
.menu__atalhos :hover{
    background-color:#021C26;
    color:#73D9D9;
    border-radius: 10px;
    
    
          
}



/* MAIN */

main{
    min-height: 0;
    width: 100%;
    background-color: #021C26;
    padding-bottom: 100px;
    
}

.titulo{
    padding-top: 20px;
    text-align: center;
    color:#BFBFBF;
}

.subtitulo{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    text-align: center;
    color:#BFBFBF;
}

/* .titulo__servicos{
    padding-top: 20px;
    text-align: center;
    color:#73D9D9;
} */

.servicos{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #BFBFBF;
    text-align: center;
    padding-left: 0;
    
       
}

.link_capa{
    color: #BFBFBF;
    text-decoration: none;
}

.capa_servicos{
    padding-top: 30px;
    height: 250px;
    width: auto;
    cursor: pointer;
}

/* SITES: */
.titulo_sites,.subtitulo_sites{
    padding-top: 20px;
    text-align: center;
    color:#BFBFBF;
}
.produto_institucional, .produto_ecommerce, .produto_portifolio, .produto{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color:#BFBFBF;
    text-align: justify;
    background-color:#021C26;
}

/* MANUTENÇÃO DE PC */

.tabela{
    margin-left: 30px;
    padding-top: 20px;
    color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10PX;
    list-style-type:circle;
}




/* QUEM SOMOS: */

.sobre, .inicio{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color:#BFBFBF;
    text-align: justify;
    background-color:#021C26;
}

/* CONTATO */
/* .main_contato{
    position:relative;
    height: 1350px;
    width: 100%;
    background-color: #021C26;
    
   
} */

.form_container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
    
}

.fone{
    font-size:large;
    display: flex;
    justify-content: center;
    text-align: center;
    color:green
    
    
     
    
}

/* FOOTER */
footer {
    
    padding-top: 20px;
    
    background-color:#BFBFBF;
    height: 100px;
    width: 100%;
    text-align: center;
}
.links{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    gap: 30px;
}
.developer{
    padding-top: 10px;
}

@media(max-width: 850px){
  
/* MAIN     */

main{
    min-height: 600px;
    
    
}
  
    .servicos{
        flex-direction: column;
        padding-top: 20PX;
    }

    /* main{
        height: 900px;
    } */

    


}

@media(max-width: 450px){
  
    /* MAIN     */
      
        .servicos{
            flex-direction: column;
            padding-top: 20PX;
        }
    
        /* main{
            height: 1150px;
        }
    
        .main_contato{
            height: 1400px;
        } */
        .fone{
            padding-top:20px ;
            font-size:medium;
        }

        .menu__atalhos__links{
            width:auto;
            
        }
        .menu__atalhos :hover{
            background-color:#021C26;
            color:#73D9D9;
            border-radius: 10px;
            
            
                  
        }
        
    }